body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;
}

.pointer {
  cursor: pointer;
}

.title-cont {
  display: flex;
  align-items: center;
  width: 40vw;
  padding: 10px;
  border: 1px solid grey;
}

h3 {
  margin: 0;
  margin-right: auto;
}

.input-cont {
  display: flex;
  align-items: center;
  width: 40vw;
  padding: 10px;
  border: 1px solid grey;
}

.input-task {
  border: 0;
  margin-right: auto;
  width: 38vw;
  height: 5vh;
}

.task-list {
  display: flex;
  align-items: center;
  width: 40vw;
  padding: 10px;
  border: 1px solid grey;
}

.menuIcon {
  margin-left: auto;
}

.clearBtn {
  width: 41.6vw;
  height: 6.3vh;
}

.delete {
  display: none;
  margin-left: auto;
}

.taska {
  border: 0;
  height: 4vh;
  width: 35vw;
}

.taska:focus {
  outline: none;
}

.line-through {
  text-decoration: line-through;
}
